*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: cyan;
}
.container{
    width: 550px;
    margin: 15px auto;
    background-color: aliceblue;
    padding: 15px;
}

.title.index{
    background-color: lightcoral;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.list.index{
    display: inline-block;
    background-color: coral;
    width: 49.6%;
    padding: 5px;
}
.list.index.two{
    margin-left: 10px;
    margin-right: 0px;
}

li{
    padding-left: 0.5em;
    margin: 0.5em 1.5em ;
    list-style: square inside;
}

a{
    background-color: pink;
    text-decoration: none;
    color: black;
}